*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color:rgb(243, 243, 243);
}

p, h1, h2, h3, h4, h5, h6, span, button, select, option{
  text-transform: uppercase;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1rem;
}

button{
  cursor: pointer;
}

section{
  margin-bottom: 6.5rem;
}

section:last-child{
  margin-bottom: 0;
}

img{
  object-fit:cover;
  object-position:50% 50%;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}